// stylesheet :: single pet health post styles

    // settings
    $pagebase : #E5E7E7;

    // styles
    .single-pet-health {

        padding: 5rem 0 0 0;

        // mobile
        @include breakpoint ( small only ) {

            padding: 4rem 0 0 0;

        }

        // post
        .pet-health {

            // padding: 5rem 5rem 5rem 5rem;

        }

        // header
        .entry_header {

            padding: 0 0 0 0;

            // image
            .entry_image {

                position: relative;

                height: 24rem;

                background: {

                    repeat: no-repeat;
                    size: cover;
                    position: center center;

                }

                // mobile
                @include breakpoint ( medium up ) {

                    height: 32rem;

                }

                // mobile
                @include breakpoint ( xlarge ) {

                    height: 50vh;

                }

                // archive link
                .archive_link {

                    position: absolute;

                    // left: 10vw;
                    bottom: -4rem;

                    z-index: 20;

                    @include flex-h-c-v-c( false );

                    height: 2rem;
                    padding: 0 0.75rem 0 0;

                    @include font( $industry, 0.75rem, 600 );

                    text-decoration: none;

                    @include color( $app05, 0.385 );

                    @include fill( $pagebase, 0.0000 );

                    // mobile
                    @include breakpoint ( xlarge ) {

                        left: 10vw;

                    }

                    // mobile
                    @include breakpoint ( large down ) {

                        left: 5rem;

                    }

                    // mobile
                    @include breakpoint ( small only ) {

                        left: 2rem;

                    }

                    // before
                    &:before {

                        @include codicon( 1rem, 1rem, 0, 1rem, $g140, '\EDCA' );

                        margin: -0.125rem 0 0 0;

                    }

                }

            }

            // h1
            .entry_title {

                margin: 0 0 0 0;
                padding: 5rem 5rem 1.5rem 5rem;

                @include color( $g140 );

                // mobile
                @include breakpoint ( xlarge ) {

                    padding: 5rem 10vw 1.5rem 10vw;

                }

                // mobile
                @include breakpoint ( small only ) {

                    padding: 5rem 2rem 1.5rem 2rem;

                }

            }

            // meta
            .entry_metadata {

                padding: 0 5rem 0 5rem;

                @include font( $industry, 0.75rem, 600 );

                @include color( $app05, 0.485 );

                // mobile
                @include breakpoint ( xlarge ) {

                    padding: 0 10vw 0 10vw;

                }

                // mobile
                @include breakpoint ( small only ) {

                    padding: 0 2rem 0 2rem;

                }

                // links
                .taxonomy_link {

                    text-decoration: none;

                    // @include color( $g140 );

                    transition: $all220;

                    // hover state
                    &:hover {

                        text-decoration: underline;

                    }

                }

                // tags
                .tags {

                    margin: 1rem 0 0 0;

                    // link
                    .taxonomy_link {

                        //

                    }

                }

            }

        }

        // content
        .post-content {

            padding: 2rem 5rem 2rem 5rem;

            // mobile
            @include breakpoint ( small only ) {

                padding: 2rem 2rem 1.5rem 2rem;

            }

            // mobile
            @include breakpoint ( xlarge ) {

                padding: 2rem 10vw 2rem 10vw;

            }

            // text
            p {

                // last child
                &:last-child {

                    margin: 0 0 0 0;

                }

            }

        }

        // controls
        #news_controls {

            padding: 2rem 5rem 5rem 5rem;

            // mobile
            @include breakpoint ( xlarge ) {

                padding: 2rem 10vw 5rem 10vw;

            }

            // mobile
            @include breakpoint ( small only ) {

                // @include hide;

                order: 20;

                padding: 1.5rem 2rem 3rem 2rem;

            }

            // taxonomy filters
            #news_taxonomy {

                // margin: 0 0 3rem 0;

                // mobile
                @include breakpoint ( small only ) {

                    margin: 0 0 0 0;

                }

                // title
                .metadata_title {

                    display: block;

                    // margin: 0 0 0.75rem 0;
                    margin: 0 0 0.25rem 0;

                    @include font( $klavislim, 1rem, 400 );

                    @include text( $up );

                    @include typo( 1rem, 0.045em );

                    @include color( $app05, 0.265 );

                }

                // common
                .metadata {

                    // mobile
                    @include breakpoint ( medium down ) {

                        // last child
                        &:last-child {

                            margin: 0 0 0 0;

                        }

                    }

                    // group
                    .taxonomy_group {

                        @include flex-h-s-v-st( false );

                        flex-wrap: wrap;

                        // tags
                        .taxonomy_item {

                            @include flex-h-c-v-c( true );

                            height: 2rem;
                            // margin: 0 0.5rem 0.5rem 0;
                            margin: 0.5rem 0.5rem 0 0;
                            padding: 0.625rem 0.75rem 0.5rem 0.75rem;

                            @include font( $industry, 0.6875rem, 600 );

                            @include text( lowercase );

                            @include typo( 0.875rem, 0.035em );

                            @include color( white, 0.000 );

                            @include fill( $g135, 0.000 );

                            transition: $all220;

                            @include shadowbox( 1rem, 3rem, black, 0.465 );

                            // hover state
                            &:hover {

                                @include color( $g135 );

                                @include fill( $campaign, 0.000 );

                            }

                        }

                    }

                    // description
                    &.description {

                        // mobile
                        @include breakpoint ( small only ) {

                            @include hide;

                        }

                    }

                    // topics
                    &.topics {

                        margin: 0 0 2rem 0;

                    }

                    // tags
                    &.tags {

                        //

                    }

                }

            }

        }

    }
