// stylesheet :: single pet health post styles

    // settings
    $pagebase : #E5E7E7;

    // styles
    .single-pet-health {

        padding: 5rem 0 0 0;

        // post
        .pet-health {

            // padding: 5rem 5rem 5rem 5rem;

        }

        // header
        .entry_header {

            // padding: 9rem 8vw 0 8vw;
            padding: 0 0 0 0;

            // image
            .entry_image {

                height: 24rem;

                background: {

                    repeat: no-repeat;
                    size: cover;
                    position: center center;

                }

                // mobile
                @include breakpoint ( medium up ) {

                    height: 32rem;

                }

                // mobile
                @include breakpoint ( xlarge ) {

                    height: 50vh;

                }

            }

            // h1
            .entry_title {

                margin: 0 0 0 0;
                padding: 5rem 5rem 1.5rem 5rem;

                // @include color( $roarange );

                // mobile
                @include breakpoint ( xlarge ) {

                    padding: 5rem 10vw 1.5rem 10vw;

                }

                // mobile
                @include breakpoint ( small only ) {

                    padding: 3rem 3rem 1.5rem 3rem;

                }

            }

            // meta
            .entry_metadata {

                padding: 0 5rem 0 5rem;

                @include font( $industry, 0.875rem, 700 );

                // mobile
                @include breakpoint ( xlarge ) {

                    padding: 0 10vw 0 10vw;

                }

                // mobile
                @include breakpoint ( small only ) {

                    padding: 0 3rem 0 3rem;

                }

            }

        }

        // content
        .post-content {

            padding: 2rem 5rem 2rem 5rem;

            // mobile
            @include breakpoint ( small only ) {

                padding: 2rem 3rem 1.5rem 3rem;

            }

            // mobile
            @include breakpoint ( xlarge ) {

                padding: 2rem 10vw 2rem 10vw;

            }

            // text
            p {

                // last child
                &:last-child {

                    margin: 0 0 0 0;

                }

            }

        }

        // controls
        #news_controls {

            padding: 2rem 5rem 5rem 5rem;

            // mobile
            @include breakpoint ( xlarge ) {

                padding: 2rem 10vw 5rem 10vw;

            }

            // mobile
            @include breakpoint ( small only ) {

                // @include hide;

                order: 20;

                padding: 1.5rem 3rem 3rem 3rem;

            }

            // taxonomy filters
            #news_taxonomy {

                // margin: 0 0 3rem 0;

                // mobile
                @include breakpoint ( small only ) {

                    margin: 0 0 0 0;

                }

                // title
                .metadata_title {

                    display: block;

                    // margin: 0 0 0.75rem 0;
                    margin: 0 0 0.25rem 0;

                    @include font( $klavislim, 1rem, 400 );

                    @include text( $up );

                    @include typo( 1rem, 0.045em );

                    @include color( $app05, 0.265 );

                }

                // common
                .metadata {

                    // mobile
                    @include breakpoint ( medium down ) {

                        // last child
                        &:last-child {

                            margin: 0 0 0 0;

                        }

                    }

                    // group
                    .taxonomy_group {

                        @include flex-h-s-v-st( false );

                        flex-wrap: wrap;

                        // tags
                        .taxonomy_item {

                            @include flex-h-c-v-c( true );

                            height: 2rem;
                            // margin: 0 0.5rem 0.5rem 0;
                            margin: 0.5rem 0.5rem 0 0;
                            padding: 0.625rem 0.75rem 0.5rem 0.75rem;

                            @include font( $industry, 0.6875rem, 600 );

                            @include text( lowercase );

                            @include typo( 0.875rem, 0.035em );

                            @include color( white, 0.000 );

                            @include fill( $g135, 0.000 );

                            transition: $all220;

                            @include shadowbox( 1rem, 3rem, black, 0.465 );

                            // hover state
                            &:hover {

                                @include color( white, 0.000 );

                                @include fill( $campaign, 0.000 );

                            }

                        }

                    }

                    // description
                    &.description {

                        // mobile
                        @include breakpoint ( small only ) {

                            @include hide;

                        }

                    }

                    // topics
                    &.topics {

                        margin: 0 0 2rem 0;

                    }

                    // tags
                    &.tags {

                        //

                    }

                }

            }

        }

    }
