// stylesheet :: service staff directory styles

    // settings
    $directory : adjust-color(

        $beige,
        $hue          : 0%,
        $saturation : -5%,
        $lightness  : 5%,
        $alpha         : -0.000

    );

    // styles
    #directory {

        // class
        &.vth {

            padding: 10rem 4rem 2rem 4rem;

            @include fill( $directory, 0.000 );

            // mobile
            @include breakpoint ( small only ) {

                padding: 6rem 2rem 0rem 2rem;

            }

            // debug
            .developer {

                // @include hide;

                @include color( white );

                @include fill( $dark );

            }

            // header
            header {

                margin: 0 0 0 1rem;

                // mobile
                @include breakpoint ( small only ) {

                    margin: 0 0 1rem 0;

                }

                // heading
                h1 {

                    // mobile
                    @include breakpoint ( small only ) {

                        line-height: 2rem;

                    }

                }

                // label
                span {

                    // mobile
                    @include breakpoint ( small only ) {

                        display: inline-block;

                        margin: 0 0 0 0;

                        @include font( $klavislim, 1rem, 400 );

                    }

                }

                // count
                .count {

                    @include hide;

                    font-style: normal;

                }

            }

            // headings
            h2 {

                margin: 0 0 0 1rem;

                @include font( $klavislim, 2rem, 400 );

                @include color( $g140 );

                // mobile
                @include breakpoint ( small only ) {

                    margin: 0 0 0 0;

                    @include font( $klavislim, 1.25rem, 400 );

                }

            }

            // contact cards
            .contact_cards {

                @include flex-h-j-v-s( false );

                flex-wrap: wrap;

                margin: 0 0 2rem 0;

                // mobile
                @include breakpoint ( small only ) {

                    margin: 1rem 0 0 0;

                }

                // last child
                &:last-child {

                    margin-bottom: 0;

                }

            }

            // contact card
            .contact {

                @include flex-h-s-v-t( true );

                width: calc( 50% - 2rem );
                margin: 1rem 1rem 1rem 1rem;
                padding: 0 2rem 0 0;

                @include fill( white, 0.000 );

                @include shadowbox( 1rem, 3rem, black, 0.625 );

                // mobile
                @include breakpoint ( xxlarge up ) {

                    width: calc( 33.3333333% - 2rem );

                }

                // mobile
                @include breakpoint ( medium down ) {

                    width: 100%;

                }

                // mobile
                @include breakpoint ( small only ) {

                    margin: 0 0 2rem 0;
                    padding: 0 1rem 0 0;

                }

                // photo
                .contact_photo {

                    position: relative;

                    width: 10rem;
                    min-width: 10rem;
                    height: 10rem;
                    margin: 0 1rem 0 0;

                    background: {

                        repeat: no-repeat;
                        size: cover;
                        position: center center;

                    }

                    // mobile
                    @include breakpoint ( xlarge up ) {

                        margin: 0 2rem 0 0;

                    }

                    // mobile
                    @include breakpoint ( large only ) {

                        width: 8rem;
                        min-width: 8rem;
                        height: 8rem;
                        margin: 0 1rem 0 0;

                    }

                    // mobile
                    @include breakpoint ( medium only ) {

                        margin: 0 2rem 0 0;

                    }

                    // mobile
                    @include breakpoint ( small only ) {

                        width: 6rem;
                        min-width: 6rem;
                        height: 6rem;
                        margin: 0 1rem 0 0;

                    }

                    // link
                    .contact_photo_link {

                        position: absolute;

                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                    }

                }

                // info
                .contact_info {

                    @include flex-v-t-h-s( true );

                    padding: 1rem 0 0 0;

                    // mobile
                    @include breakpoint ( xlarge up ) {

                        padding: 2rem 0 0 0;

                    }

                    // mobile
                    @include breakpoint ( medium only ) {

                        padding: 2rem 0 0 0;

                    }

                    // mobile
                    @include breakpoint ( small only ) {

                        padding: 1rem 0 0 0;

                    }

                    // link
                    .contact_link {

                        margin: 0 0 0.5rem 0;

                        @include font( $klavislim, 1.5rem, 400 );

                        @include text( $up, none );

                        @include typo( 1.5rem, 0.035em );

                        @include color( $g140 );

                        // mobile
                        @include breakpoint ( large only ) {

                            @include font( $klavislim, 1.125rem, 400 );

                        }

                        // mobile
                        @include breakpoint ( small only ) {

                            @include font( $klavislim, 1rem, 400 );

                            @include typo( 1rem, 0.035em );

                        }

                    }

                    // common
                    span {

                        display: block;

                    }

                    // title
                    .contact_title {

                        margin: 0 0 0.5rem 0;

                        @include font( $industry, 0.75rem, 700 );

                        // mobile
                        @include breakpoint ( large only ) {

                            @include font( $industry, 0.6875rem, 700 );

                        }

                        // mobile
                        @include breakpoint ( small only ) {

                            margin: 0 0 0.5rem 0;

                            @include font( $industry, 0.6875rem, 700 );

                        }

                    }

                    // phone
                    .contact_phone {

                        @include hide;

                        // mobile
                        @include breakpoint ( small only ) {

                            @include font( $industry, 0.6875rem, 600 );

                        }

                    }

                    // email
                    .email_link {

                        word-break: break-word;

                        @include color( $g140 );

                        // mobile
                        @include breakpoint ( large only ) {

                            @include font( $industry, 0.75rem, 600 );

                        }

                        // mobile
                        @include breakpoint ( small only ) {

                            @include font( $industry, 0.6875rem, 600 );

                        }

                    }

                }

            }

        }

    }
