// stylesheet :: custom LocalHR directory view -> VTH

    // settings
    $fake_news : 1rem;

    // styles
    #directory {

        // class hook
        &.vth-main {

            // the header
            header {

                // mobile
                @include breakpoint ( small only ) {

                    margin: 0 0 1rem 0;

                }

            }

            #service_directory_menu {

                margin: 0 0 0 0;

                // menu
                #menu-vth-directory-menu {

                    @include flex-h-s-v-t( false );

                    flex-wrap: wrap;

                    margin: 0 0 0 0;

                    list-style: none;

                    // menu items
                    li {

                        @include flex-h-c-v-c( true );

                        // height: 3rem;
                        height: 2rem;
                        margin: 0 1rem 1rem 0rem;

                        // mobile
                        @include breakpoint ( small only ) {

                            height: 2rem;
                            margin: 0 0.25rem 1rem 0;

                        }

                        // link
                        a {

                            @include flex-h-c-v-c( true );

                            width: 100%;
                            // height: 3rem;
                            height: 2rem;
                            padding: 0.0625rem 1rem 0 1rem;

                            @include font( $industry, 0.75rem, 600 );

                            text-decoration: none;

                            @include typo( 0.75rem, 0.035em );

                            @include color( $g140, 0.000 );

                            @include fill( $app05, 0.865 );

                            transition: all 220ms linear 0ms;

                            // mobile
                            @include breakpoint ( small only ) {

                                height: 2rem;

                                @include font( $industry, 0.6875rem, 600 );

                            }

                            // hover state
                            &:hover {

                                @include color( white, 0.000 );

                                @include fill( $g135, 0.000 );

                            }

                        }

                    }

                }

            }

            // headingsies
            h4.header {

                margin: 0 0 1rem 0;

                // mobile
                @include breakpoint ( small only ) {

                    // margin: 0 0 0 0;

                }

            }

            // button cloud
            #directory_buttons {

                margin: 0 0 2rem 0;

            }

            // controls
            #directory-fields {

                border-top: 1px solid transparentize( $app05, 0.825 );

            }

            // search
            #directory-records_filter {

                // text input
                input {

                    // @include shadowbox( 1rem, 2.5rem, black, 0.525 );

                }

            }

            // length
            #directory-records_length {

                // dropdown
                select {

                    // @include shadowbox( 1rem, 2.5rem, black, 0.525 );

                }

            }

            // alphabet
            #directory-alphabet {

                // alphabet
                .alphabet {

                    border-bottom: 1px solid transparent;

                }

            }

            // table
            #directory-records {

                // headers
                thead th.right {

                    text-align: right;

                }

                // rows
                tr {

                    // hover state
                    &:hover {

                        // @include shadowbox( 0.75rem, 2.5rem, black, 0.685 );

                    }

                }

            }

        }

    }
