// stylesheet :: service staff styles

    // settings
    $staff : 1rem;

    // styles
    .staff {

        position: relative;

        @include flex-v-b-h-s( false );

        padding: 1rem 2rem 2rem 2rem;

        background: {

            image: url(../img/billboard.00.jpg);
            repeat: no-repeat;
            size: cover;
            position: center center;
            attachment: fixed;

        }

        // mobile
        @include breakpoint ( small only ) {

            // padding: 2rem 2rem 2rem 2rem;

        }

        // overlay
        .section_overlay {

            position: absolute;

            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            z-index: 20;

            @include fill( $nite, 0.385 );

        }

        // content
        .section_content {

            position: relative;

            z-index: 100;

        }

        // title
        h2 {

            @include color( $g140 );
            @include color( white );

        }

        // link
        .staff_link {

            @include flex-h-c-v-c( true );

            height: 4rem;
            padding: 0.0625rem 1.5rem 0 1.5rem;

            @include font( $klavislim, 1rem, 400 );

            @include text( $up );

            @include typo( 0.75rem, 0.035em );

            @include color( white );

            @include fill( $g140, 0.000 );

            @include shadowbox( 1rem, 3rem, black, 0.685 );

        }

    }
