// stylesheet :: global service post styles

    // settings

        // pagebase
        $page    : #E5E7E7;

        // main
        $main : adjust-color(

            $beige,
            $hue          : 0%,
            $saturation : -20%,
            $lightness  : 10%,
            $alpha         : -0.665

        );

        // sidebar
        $sidebar : adjust-color(

            $beige,
            $hue          : 0%,
            $saturation : -40%,
            $lightness  : -10%,
            $alpha         : -0.465

        );

    // container
    .service_container {

        @include fill( $page );

        // child service
        &.child_service {

            // content
            .service {

                padding: 10rem 5rem 4rem 5rem;

            }

            // flexible blocks
            .template-block {

                padding: 2rem 0 2rem 0;

                // first
                &:first-of-type {

                    padding: 0 0 2rem 0;

                }

                // last
                &:last-of-type {

                    padding: 2rem 0 0 0;

                }

            }

        }

    }

    // styles
    .service {

        padding: 0 0 0 0;

        // header
        header {

            position: relative;

            @include flex-h-j-v-b( false );

            height: 70vh;
            padding: 0 5rem 3rem 5rem;

            // @include fill( red, 0.465 );

            background: {

                repeat: no-repeat;
                size: cover;
                position: top center;

            }

            // mobile
            @include breakpoint ( medium down ) {

                padding: 0 3rem 3rem 3rem;

            }

            // mobile
            @include breakpoint ( small only ) {

                // @include flex-v-b-h-st( false );

                padding: 0 2rem 2rem 2rem;

            }

            // title
            .service-title,
            .service-info {

                position: relative;

                z-index: 100;

            }

            // title
            .service-title {

                // mobile
                @include breakpoint ( small only ) {

                    max-width: 50%;

                }

            }

            // label
            .header-label {

                @include font( $klavislim, 1rem, 400 );

                @include text( $up );

                @include typo( 1rem, 0.075em );

                @include color( white, 0.265 );

            }

            // title
            h1 {

                margin: 0 0 0 0;

                @include typo( 2.5rem, 0.065em );

                @include color( white );

            }

            // gradients
            &:before,
            &:after {

                content: '';

                position: absolute;

                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

            }

            // before
            &:before {

                background: {

                    image:

                        linear-gradient(

                            180deg,
                            transparent 0%,
                            $dark 100%

                        ),

                        linear-gradient(

                            135deg,
                            transparent 30%,
                            $g140 100%

                        )

                    ;

                }

                // @include gradient(

                    // 180deg,
                    // transparent, 1.000, 0%,
                    // $dark, 0.000, 100%

                // );

            }

        }

        // info box
        .service-info {

            @include flex-v-b-h-st( false );

            // flex-grow: 1;

            // mobile
            @include breakpoint ( small only ) {

                @include flex-v-b-h-e( false );

            }

        }

        // content
        .service_content {

            // developer
            pre {

                // @include hide;

            }

        }

        // wrapper
        .content_wrapper {

            @include flex-h-j-v-t( false );

        }

        // sections
        .service_section {

            @include color( $app05, 0.215 );

            // mobile
            @include breakpoint ( small only ) {

                //

            }

            // text info
            .text_info {

                //

            }

        }

        // lead content
        .lead_content {

            // single (?)
            &.unified {

                // main content
                .main {

                    padding: 5rem 5rem 5rem 5rem;

                    @include fill( $main );

                    // mobile
                    @include breakpoint ( small only ) {

                        width: 100vw;
                        padding: 2rem 2rem 2rem 2rem;

                    }

                    // notification block
                    .notification {

                        padding: 0 0 0 0;

                    }

                }

            }

            // split
            &.split {

                @include flex-h-s-v-st( false );

                // mobile
                @include breakpoint ( small only ) {

                    @include flex-v-t-h-st( false );

                }

                // common
                p {

                    // last child
                    &:last-child {

                        margin-bottom: 0;

                    }

                }

                // main content
                .main {

                    width: 65vw;
                    padding: 5rem 5rem 5rem 5rem;

                    @include fill( $main );

                    // mobile
                    @include breakpoint ( medium only ) {

                        padding: 3rem 3rem 3rem 3rem;

                    }

                    // mobile
                    @include breakpoint ( small only ) {

                        width: 100vw;
                        padding: 2rem 2rem 2rem 2rem;

                    }

                    // notification block
                    .notification {

                        padding: 0 0 0 0;

                    }

                }

                // sidebar content
                .sidebar {

                    width: 35vw;
                    padding: 5rem 5rem 5rem 5rem;

                    @include fill( $sidebar );

                    // mobile
                    @include breakpoint ( medium only ) {

                        width: 40vw;
                        padding: 3rem 3rem 3rem 3rem;

                    }

                    // mobile
                    @include breakpoint ( small only ) {

                        width: 100vw;
                        padding: 2rem 2rem 2rem 2rem;

                    }

                    // headings
                    h2 {

                        @include font( $klavislim, 2rem, 400 );

                    }

                    // buttons
                    .content-with-image__button {

                        margin: 0 0 1rem 0;

                        border: none;

                        @include color( white );

                        // @include fill( $sec_temp_link_color );
                        @include fill( $g140 );

                        @include shadowbox( 1rem, 3rem, black, 0.685 );

                        // hover state
                        &:hover {

                            // @include fill( lighten( $sec_temp_link_color, 5% ) );
                            @include fill( $dark, 0.115 );

                        }

                    }

                }

            }

            // headings
            h3 {

                margin: 2rem 0 1rem 0;

                @include font( $klavislim, 1.75rem, 400 );

            }

        }

        // main
        .service_column {

            //

        }

        // sidebar
        .service_sidebar {



        }

    }
