// stylesheet :: service forms styles

    // settings
    $forms : adjust-color(

        $dark,
        $hue          : 0%,
        $saturation : -30%,
        $lightness  : 10%,
        $alpha         : -0.000

    );

    // styles
    .service_section {

        // class
        &.forms {

            padding: 5rem 4rem 3rem 4rem;

            @include color( white );

            @include fill( $forms );

            // mobile
            @include breakpoint ( small only ) {

                padding: 2rem 2rem 2rem 2rem;

            }

            // heading
            h2 {

                margin-left: 1rem;

                // mobile
                @include breakpoint ( small only ) {

                    margin: 0 0 1rem 0;

                }

            }

            // container
            .forms_container {

                @include flex-h-s-v-t( false );

                flex-wrap: wrap;

            }

            // links
            .form_link {

                position: relative;

                @include flex-h-c-v-c( true );

                width: calc( 20% - 2rem );
                width: auto;
                height: 4rem;
                margin: 0 1rem 2rem 1rem;
                padding: 0.0625rem 1.25rem 0 2.75rem;

                @include font( $industry, 0.875rem, 500 );

                text-decoration: none;

                @include color( white );

                @include fill( white, 0.965 );

                @include shadowbox( 1rem, 3rem, black, 0.645 );

                transition: all 220ms linear 0ms;

                // mobile
                @include breakpoint ( small only ) {

                    min-height: 4rem;
                    margin: 0 0 2rem 0;

                    // last child
                    &:last-child {

                        margin-bottom: 0;

                    }

                }

                // hover state
                &:hover {

                    @include color( $gold );

                    @include fill( $dark );

                }

                // pdf
                &.pdf {

                    // before
                    &:before {

                        content: '\EF3E';

                    }

                }

                // form
                &.form {

                    // before
                    &:before {

                        content: '\EC55';

                    }

                }

                // video
                &.video {

                    // before
                    &:before {

                        content: '\E961';

                    }

                }

                // external
                &.external {

                    // before
                    &:before {

                        content: '\EC99';

                    }

                }

                // internal
                &.internal {

                    // before
                    &:before {

                        content: '\E9BF';

                    }

                }

                // misc
                &.misc {

                    // before
                    &:before {

                        content: '\EA83';

                    }

                }

                // before
                &:before {

                    @include codicon( 1rem, 1rem, 0, 1rem, transparentize( white, 0.365 ), '\E99D' );

                    position: absolute;

                    top: 1.5rem;
                    bottom: 1.5rem;
                    left: 1.25rem;

                    z-index: 0;

                }

            }

        }

    }
