// stylesheet :: contact block styles

    // settings
    $contact : 1rem;

    // styles
    .contact_info {

        @include flex-h-j-v-s( false );

        // mobile
        @include breakpoint ( small only ) {

            @include flex-v-t-h-st( false );

        }

        // section
        .service_sidebar_section {

            width: 50vw;
            padding: 5rem 5rem 5rem 5rem;

            // mobile
            @include breakpoint ( small only ) {

                width: 100vw;
                padding: 2rem 2rem 2rem 2rem;

            }

        }

        // contact
        .contact {

            @include color( white );

            @include fill( $dark, 0.000 );

            // title
            h2 {

                @include color( $beige );

            }

            // common
            span {

                display: block;

            }

            // entry
            .entry {

                margin: 0 0 1rem 0;

                // last child
                &:last-child {

                    margin: 0 0 0 0;

                }

                // contact label
                .contact_label {

                    @include font( $industry, 0.875rem, 700 );

                }

                // contact info
                .contact_info {

                    @include font( $industry, 0.875rem, 500 );

                }

                // phone
                .phone_number {

                    @include color( white );

                }

                // email
                .email_link {

                    @include color( $gold );

                }

            }

        }

        // staff
        .staff {

            @include fill( $app05, 0.665 );

        }

    }
