// stylesheet :: global service post styles

    // settings
    $page    : #E5E7E7;
    $sidebar : adjust-color(

        $beige,
        $hue          : 0%,
        $saturation : -5%,
        $lightness  : 3%,
        $alpha         : -0.000

    );

    // container
    .service_container {

        @include fill( $page );

        // child service
        &.child_service {

            // content
            .service {

                padding: 10rem 5rem 4rem 5rem;

            }

        }

    }

    // styles
    .service {

        padding: 0 0 0 0;

        // header
        header {

            position: relative;

            @include flex-h-j-v-b( false );

            height: 70vh;
            padding: 0 5rem 3rem 5rem;

            // @include fill( red, 0.465 );

            background: {

                repeat: no-repeat;
                size: cover;
                position: top center;

            }

            // mobile
            @include breakpoint ( small only ) {

                // @include flex-v-b-h-st( false );

                padding: 0 2rem 2rem 2rem;

            }

            // title
            .service-title,
            .service-info {

                position: relative;

                z-index: 100;

            }

            // title
            .service-title {

                // mobile
                @include breakpoint ( small only ) {

                    max-width: 50%;

                }

            }

            // label
            .header-label {

                @include font( $klavislim, 1rem, 400 );

                @include text( $up );

                @include typo( 1rem, 0.075em );

                @include color( white, 0.265 );

            }

            // title
            h1 {

                margin: 0 0 0 0;

                @include typo( 2.5rem, 0.065em );

                @include color( white );

            }

            // gradients
            &:before,
            &:after {

                content: '';

                position: absolute;

                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

            }

            // before
            &:before {

                background: {

                    image:

                        linear-gradient(

                            180deg,
                            transparent 0%,
                            $dark 100%

                        ),

                        linear-gradient(

                            135deg,
                            transparent 30%,
                            $g140 100%

                        )

                    ;

                }

                // @include gradient(

                    // 180deg,
                    // transparent, 1.000, 0%,
                    // $dark, 0.000, 100%

                // );

            }

        }

        // info box
        .service-info {

            @include flex-v-b-h-st( false );

            // flex-grow: 1;

            // mobile
            @include breakpoint ( small only ) {

                @include flex-v-b-h-e( false );

            }

        }

        // content
        .service_content {

            // developer
            pre {

                // @include hide;

            }

        }

        // wrapper
        .content_wrapper {

            @include flex-h-j-v-t( false );

        }

        // sections
        .service_section {

            @include color( $app05, 0.215 );

            // mobile
            @include breakpoint ( small only ) {

                //

            }

            // text info
            .text_info {

                //

            }

        }

        // lead content
        .lead_content {

            // single (?)
            &.unified {



            }

            // split
            &.split {

                @include flex-h-s-v-st( false );

                // mobile
                @include breakpoint ( small only ) {

                    @include flex-v-t-h-st( false );

                }

                // common
                p {

                    // last child
                    &:last-child {

                        margin-bottom: 0;

                    }

                }

                // main content
                .main {

                    width: 65vw;
                    padding: 0 3rem 2rem 5rem;

                    // mobile
                    @include breakpoint ( small only ) {

                        width: 100vw;
                        padding: 2rem 2rem 2rem 2rem;

                    }

                    // notification block
                    .notification {

                        padding: 0 0 0 0;

                    }

                }

                // sidebar content
                .sidebar {

                    width: 35vw;
                    padding: 3rem 5rem 3rem 3rem;

                    $sidebar : adjust-color(

                        $beige,
                        $hue          : 0%,
                        $saturation : -10%,
                        $lightness  : 10%,
                        $alpha         : -0.000

                    );

                    @include fill( $sidebar );

                    // mobile
                    @include breakpoint ( medium only ) {

                        width: 40vw;

                    }

                    // mobile
                    @include breakpoint ( small only ) {

                        width: 100vw;
                        padding: 2rem 2rem 2rem 2rem;

                    }

                }

            }

        }

        // main
        .service_column {

            //

        }

        // sidebar
        .service_sidebar {



        }

    }
